@let combat = game.combat;
@if (game.playState == 'Combat')
{
    <div id="combat" class="row">
        @if (enemiesPresent())
        {
            <div class="col-12">
                <h3 class="combat-header">{{ game.combat.roundHeader }}</h3>
                @for (enemyRow of  enemyRows; track enemyRow)
                {
                    <div class="row enemy-row">
                    @for (enemy of  enemyRow; track enemy)
                    {
                        <div [className]="'col-' + 12 / enemyRow.length" [ngClass]="{ 'unavailable': enemy.currentHitpoints <= 0 }">
                            <combat-participant [participant]="enemy"></combat-participant>
                        </div>
                    }
                    </div>
                }
                @for (characterRow of  characterRows; track characterRow)
                {
                    <div class="row character-row">
                        @for (turn of  characterRow; track turn.character)
                        {
                            <div [className]="'col-' + 12 / characterRow.length" [ngClass]="{ 'unavailable': turn.character.currentHitpoints <= 0 }">
                                <combat-participant [participant]="turn.character"></combat-participant>
                                @if (turn.item && turn.character.currentHitpoints > 0)
                                {
                                    <div>
                                        <div [ngClass]="{ 'not-applicable': !turn.item.targetType }">
                                            <span>{{ turn.item.targetType === 'Enemy' ? texts.attack : texts.aid }}</span>
                                            @if (filteredTargets(turn).length > 1)
                                            {
                                                <select class="custom-select" [(ngModel)]="turn.target">
                                                    @for (target of filteredTargets(turn); track target)
                                                    {
                                                        <option [ngValue]="target" >{{ target.name }}</option>
                                                    }
                                                </select>
                                            }
                                            @if (filteredTargets(turn).length === 1)
                                            {
                                                <input class="single-item" type="text" disabled="disabled" [ngModel]="turn.target.name" />
                                            }
                                        </div>
                                        @if (turn.itemsAvailable.length)
                                        {
                                            <div>
                                                <span>{{ turn.item.targetType === 'Enemy' ? texts.attackWith : turn.item.targetType ? texts.aidWith : texts.useCombatItem }}</span>
                                                @if (turn.itemsAvailable.length > 1)
                                                {
                                                    <select class="custom-select" (ngModelChange)="itemChange($event, turn)" [(ngModel)]="turn.item">
                                                        @for (item of turn.itemsAvailable; track item)
                                                        {
                                                            <option [ngValue]="item" disabled="{{ itemSelectable(item) ? '' : 'true' }}" [ngClass]="{'unselectable': !itemSelectable(item)}" >{{ getItemName(item) }}</option>
                                                        }
                                                    </select>
                                                }
                                                @if (turn.itemsAvailable.length === 1)
                                                {
                                                    <input class="single-item" type="text" disabled="disabled" [ngModel]="getItemName(turn.item)" />
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                                @if (!turn.item && turn.character.currentHitpoints > 0)
                                {
                                    <div>
                                        <span>{{ game.combat.noActionText }}</span>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
                <div class="row">
                    <div class="col-12 fight-row">
                        <button type="button" class="btn btn-danger" (click)="fight()" [disabled]="!actionsEnabled">{{ texts.fight }}</button>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-unstyled combat-actions">
                        @for (action of  game.currentLocation.combatActions; track action)
                        {
                            <li>
                                <button type="button" class="btn" [ngClass]="getButtonClass(action)" (click)="executeAction(action)" [disabled]="!actionsEnabled">{{ action[1].text }}</button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (!enemiesPresent())
        {
            <div id="combat-win">
                <h2 class="combat-win-header">{{ texts.combatWin }}</h2>
                <ul class="combat-winnings">
                    <li>
                        <span class="enemies-defeated-header">{{ texts.enemiesDefeated }}</span>
                        <ul>
                            @for (enemy of combat.winnings.enemiesDefeated; track enemy)
                            {
                                <li>{{ enemy.name }}</li>
                            }
                        </ul>
                    </li>
                    @if (combat.winnings.currency)
                    {
                        <li class="currency-won">{{ texts.format(texts.currencyWon, [combat.winnings.currency]) }}</li>
                    }
                    @if (combat.winnings.itemsWon.length)
                    {
                    <li>
                            <span class="items-taken-header">{{ texts.itemsTaken }}</span>
                            <ul>
                                @for (item of combat.winnings.itemsWon; track item)
                                {
                                    <li>{{ item.name }}</li>
                                }
                            </ul>
                    </li>
                    }
                </ul>
            </div>
        }
        <fieldset class="combatlog">
            <legend>{{ texts.messages }}</legend>
            <ul class="list-unstyled action-log">
                @for (message of  game.combatLog; track $index)
                {
                    <li>{{ message }}</li>
                }
            </ul>
        </fieldset>
    </div>
}