<div id="combat" *ngIf="game.playState == 'Combat'">
    <div *ngIf="enemiesPresent()">
        <ul class="list-unstyled">
            <li *ngFor="let enemy of enemies">
                <div>
                    <h3>{{enemy.name}}</h3>
                    <img src="{{ enemy.picture }}" *ngIf="enemy.picture" />
                </div>
            </li>
        </ul>
        <div *ngFor="let turn of game.combat">
            <h2>{{turn.character.name}}</h2>
            <div [ngClass]="{ 'not-appliccable': !turn.item?.isWeapon }">
                <span>{{ texts.attack }}</span>
                <select *ngIf="multiCharacter && turn.target" class="custom-select" [(ngModel)]="turn.target">
                    <option *ngFor="let enemy of turn.targetsAvailable" [ngValue]="enemy" >{{ enemy.name }}</option>
                </select>
                <input *ngIf="turn.targetsAvailable.length === 1" type="text" disabled="disabled" [(ngModel)]="turn.target.name" />
            </div>
            <div *ngIf="turn.itemsAvailable.length">
                <span>{{ turn.item?.isWeapon ? texts.attackWith : texts.useCombatItem }}</span>
                <select *ngIf="turn.itemsAvailable.length > 1" class="custom-select" [(ngModel)]="turn.item">
                    <option *ngFor="let item of turn.itemsAvailable" [ngValue]="item" >{{ item.name }}</option>
                </select>
                <input *ngIf="turn.itemsAvailable.length === 1" type="text" disabled="disabled" [(ngModel)]="turn.item.name" />
            </div>
        </div>
        <button type="button" class="btn btn-danger" (click)="fight()" [disabled]="!actionsEnabled">{{ texts.fight }}</button>
        <div>
            <ul class="list-unstyled">
                <li *ngFor="let action of game.currentLocation.combatActions">
                    <button type="button" class="btn" [ngClass]="getButtonClass(action)" (click)="executeAction(action)" [disabled]="!actionsEnabled">{{ action.text }}</button>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="!enemiesPresent()" class="combat-win">
        {{ texts.combatWin }}
    </div>
    <fieldset class="combatlog">
        <legend>{{ texts.messages }}</legend>
        <ul class="list-unstyled action-log">
            <li *ngFor="let message of game.combatLog">{{ message }}</li>
        </ul>
    </fieldset>
</div>