@if (showQuests())
{
    <div class="box-container" id="character-quests">
        <div class="box-title" (click)="isCollapsed = !isCollapsed">{{ texts.quests }}</div>
        <div id="quest-panel" [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
            @if (showActiveQuests())
            {
                <div>
                    <h4>{{ texts.currentQuests }}</h4>
                    <ul>
                        @for (quest of currentQuests(); track quest.id)
                        {
                            <li>
                                <span>{{ quest.name }}</span>
                                <div [innerHTML]="questStatus(quest) | safe: 'html'"></div>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (showCompletedQuests())
            {
                <div>
                    <h4>{{ texts.completedQuests }}</h4>
                    <ul>
                        @for (quest of completedQuests(); track quest.id)
                        {
                            <li>
                                <div [innerHTML]="questStatus(quest) | safe: 'html'"></div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
}