@let map = game.currentMap;
@if (map)
{
    <div class="box-container map-container" tabindex="0">
        <p class="map-name">
            {{ map.name }}
            @if (map.toggleFullScreen)
            {
                <span class="map-full-screen-toggle" (click)="toggleFullScreen()">></span>
            }
        </p>
        <img class="map-image" src="{{ 'resources/' + map.mapImage }}" alt="{{ map.name }}">
        @if (map.avatarImage)
        {
            <img class="avatar-image" src="{{ 'resources/' + map.avatarImage }}" alt="{{ map.name }}" style="visibility: hidden;">
        }
    </div>
    <dialog class="map-dialog">
    </dialog>
}