<fieldset>
    <legend>{{ game.character.name }}</legend>
    <ul>
        <li ng-repeat="attribute in controller.characterAttributes">
            {{ texts.format(attribute) }} {{ game.character[attribute] }}
        </li>

        <!--<li>Kracht {{ game.character.kracht }}</li>
        <li>Vlugheid {{ game.character.vlugheid }}</li>
        <li>Oplettendheid {{ game.character.oplettendheid }}</li>-->
        <li>{{ texts.hitpoints }} {{ game.character.currentHitpoints }} / {{ game.character.hitpoints }}</li>
    </ul>
</fieldset>
<fieldset id="equipment">
    <legend>{{ texts.equipmentHeader }}</legend>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    {{ texts.head }}
                </div>
                <div class="item-box">
                    {{ game.character.equipment.Head.name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    {{ texts.amulet }}
                </div>
                <div class="item-box">
                    {{ game.character.equipment.Amulet.name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                {{ texts.rightHand }}
            </div>
            <div class="col-md-6">
                {{ texts.body }}
            </div>
            <div class="col-md-3">
                {{ texts.leftHand }}
            </div>
            <div class="col-md-3">
                <div class="item-box">{{ game.character.equipment.Hands.name }}</div>
                <div class="item-box side-borders">{{ game.character.equipment.RightHand.name }}</div>
                <div class="item-box">{{ game.character.equipment.RightRing.name }}</div>
            </div>
            <div class="col-md-6">
                <div class="item-box no-border"></div>
                <div class="item-box">{{ game.character.equipment.Body.name }}</div>
            </div>
            <div class="col-md-3">
                <div class="item-box">{{ game.character.equipment.Hands.name }}</div>
                <div class="item-box side-borders">{{ game.character.equipment.LeftHand.name }}</div>
                <div class="item-box">{{ game.character.equipment.LeftRing.name }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    {{ texts.legs }}
                </div>
                <div class="item-box">
                    {{ game.character.equipment.Legs.name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    {{ texts.feet }}
                </div>
                <div class="item-box">
                    {{ game.character.equipment.Feet.name }}
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>{{ texts.backpack }}</legend>
    <ul>
        <li ng-repeat="item in game.character.items">
            <div>
                <span>{{ item.name }}</span>
                <button type="button" ng-if="controller.canEquip(item)" class="btn btn-info" ng-click="controller.equipItem(item)">{{ texts.equip }}</button>
                <button type="button" ng-if="item.use" class="btn btn-info" ng-click="controller.executeAction(item.use, item)">{{ texts.use }}</button>
                <button type="button" class="btn btn-info" ng-click="controller.dropItem(item)">{{ texts.drop }}</button>
            </div>
        </li>
    </ul>
</fieldset>