<fieldset>
    <legend>{{ controller.game.character.name }}</legend>
    <ul>
        <li>Kracht {{ controller.game.character.kracht }}</li>
        <li>Vlugheid {{ controller.game.character.vlugheid }}</li>
        <li>Oplettendheid {{ controller.game.character.oplettendheid }}</li>
        <li>Gezondheid {{ controller.game.character.currentHitpoints }} / {{ controller.game.character.hitpoints }}</li>
    </ul>
</fieldset>
<fieldset id="equipment">
    <legend>Uitrusting</legend>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    Hoofd
                </div>
                <div class="item-box">
                    {{ controller.game.character.equipment.Head.name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    Amulet
                </div>
                <div class="item-box">
                    {{ controller.game.character.equipment.Amulet.name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Rechterhand
            </div>
            <div class="col-md-6">
                Lichaam
            </div>
            <div class="col-md-3">
                Linkerhand
            </div>
            <div class="col-md-3">
                <div class="item-box">{{ controller.game.character.equipment.Hands.name }}</div>
                <div class="item-box side-borders">{{ controller.game.character.equipment.RightHand.name }}</div>
                <div class="item-box">{{ controller.game.character.equipment.RightRing.name }}</div>
            </div>
            <div class="col-md-6">
                <div class="item-box no-border"></div>
                <div class="item-box">{{ controller.game.character.equipment.Body.name }}</div>
            </div>
            <div class="col-md-3">
                <div class="item-box">{{ controller.game.character.equipment.Hands.name }}</div>
                <div class="item-box side-borders">{{ controller.game.character.equipment.LeftHand.name }}</div>
                <div class="item-box">{{ controller.game.character.equipment.LeftRing.name }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    Benen
                </div>
                <div class="item-box">
                    {{ controller.game.character.equipment.Legs.name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    Voeten
                </div>
                <div class="item-box">
                    {{ controller.game.character.equipment.Feet.name }}
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Rugzak</legend>
    <ul>
        <li ng-repeat="item in controller.game.character.items">
            <div>
                <span>{{ item.name }}</span>
                <button type="button" ng-if="item.equipmentType != StoryScript.EquipmentType.Miscellaneous" class="btn btn-info" ng-click="controller.equipItem(item)">Equip</button>
                <button type="button" ng-if="item.use" class="btn btn-info" ng-click="controller.executeAction(item.use, item)">Use</button>
                <button type="button" class="btn btn-info" ng-click="controller.dropItem(item)">Drop</button>
            </div>
        </li>
    </ul>
</fieldset>