<fieldset ng-if="controller.enemiesPresent()">
    <legend>{{ texts.enemies }}</legend>
    <ul class="inline button-row">
        <li ng-repeat="enemy in controller.game.currentLocation.enemies">
            <button type="button" class="btn btn-danger" ng-click="controller.executeAction(controller.fight, enemy)">{{ texts.format(texts.attack, [enemy.name]) }}</button>
        </li>
    </ul>
    <ul class="inline button-row">
        <li ng-repeat="action in controller.game.currentLocation.combatActions">
            <button type="button" class="btn" ng-class="controller.getButtonClass(action)" ng-click="controller.executeAction(action.execute)">{{ action.text }}</button>
        </li>
    </ul>
</fieldset>