<fieldset ng-if="game.currentLocation.trade">
    <legend>{{ game.currentLocation.trade.description }}</legend>
    <div ng-if="game.currentLocation.trade.sell">{{ game.currentLocation.trade.sell.description }}</div>
    <ul class="button-row">
        <li ng-repeat="item in game.currentLocation.trade.sell.items">
            <button type="button" class="btn btn-success" ng-click="controller.buy(item)" ng-disabled="!controller.canPay(game.character.currency, item.value)">{{ item.name + ': ' + item.value + ' ' + texts.currency }}</button>
        </li>
    </ul>
    <div ng-if="game.currentLocation.trade.buy">{{ game.currentLocation.trade.buy.description }}</div>
    <ul class="button-row">
        <li ng-repeat="item in game.currentLocation.trade.buy.items">
            <button type="button" class="btn btn-warning" ng-click="controller.sell(item)" ng-disabled="!controller.canPay(game.currentLocation.trade.currency, item.value)">{{ item.name + ': ' + item.value + ' ' + texts.currency }}</button>
        </li>
    </ul>
</fieldset>