:root {
    --purple: rgb(72, 61, 139);
    --black: #000;
    --white: #fff;
    --red: red;
    --light-gray: lightgray;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--purple);
}

h2 {
    font-family: 'Trebuchet MS';
    color: var(--purple);
}

button {
    margin-right: 10px;
}


#error-alert {
    position: absolute;
    z-index: 1500;
    display: flex;
    justify-content: center;
}

#error-alert, #error-alert > h2 {
    font-family: 'Lucida Sans';
}

.error-alert-body {
    margin-top: 50px;
    max-width: 50%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.modal-header {
    display: grid;
}

.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--black);
    text-shadow: 0 1px 0 var(--white);
    opacity: .5;
    border: none;
    background: none;
    justify-self: flex-end;
    margin-top: -40px;
}

.menu-bar {
    padding: 10px 15px 5px 30px;
}

#mainmenu .btn {
    display: block;
    margin-bottom: 10px;
}

.box-container {
    border: solid 1px var(--purple);;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0;
}

.box-title {
    font-size: 1.3rem;
    font-family: Andalus;
    color: var(--white);;
    background-color: var(--purple);;
    padding: 0 10px;
    margin: -10px -10px 10px -10px;
}

.box-container li .btn {
    margin-right: 5px;
}

.list-unstyled {
    margin-bottom: 0;
}

.modal-body .list-unstyled {
    margin-bottom: 10px;
}

.inline {
    display: inline-block;
}

#conversation-history-title {
    font-weight: bold;
    margin-bottom: 0;
}

#conversation-history ul {
    max-height: 400px;
    overflow-y: scroll;
}

#create-character .input-group-prepend {
    max-width: 70%;
}

#create-character .input-group-text {
    white-space: normal;
}

#exploration-destinations .btn, #combinations .btn, #trade .btn {
    margin: 0 0 5px 5px;
}

#exploration-destinations button span {
    margin-right: 0;
}

#backpack-panel li {
    margin-bottom: 5px;
}

.box-container li span {
    margin-right: 10px;
}

#conversation-options span {
    margin-left: 10px;
}

#conversation-options .unavailable {
    color: rgba(0, 0, 0, 0.5);
}

.conversation-lines p {
    margin: 5px 0 0 0;
}

.conversation-option {
    font-style: italic;
    margin: 5px 0 10px 10px;
}

#combat option, #combat input {
    text-align: center;
}

#combat input {
    height: 38px;
}

#combat .btn {
    margin: 5px 0;
}

#combat-win {
    text-align: center;
}

.combat-win-header, .items-taken-header, .enemies-defeated-header {
    font-weight: bold;
}

#combat-win ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.currency-won {
    margin-bottom: 10px;
}

#trade ul {
    margin-top: 10px;
}

.trade-empty {
    font-style: italic;
    margin: 10px 0;
    padding-left: 10px;
}

#save-game {
    margin-bottom: 15px;
}

#save-game p {
    font-weight: bold;
}

#save-game li {
    margin-bottom: 5px;
    cursor: pointer;
}

#start-adventure {
    margin: -10px 0 0 10px;
}

#start-combat {
    margin-top: 10px;
}

.save-button {
    margin-bottom: 15px;
}

.action-log {
    max-height: 300px;
    overflow-y: scroll;
}

.barrier {
    margin-bottom: 5px;
}

.action-select {
    display: block;
    margin-top: 5px;
}

.combatlog {
    margin-top: 25px;
    display: grid;
    justify-content: center;
}

.combatlog-title {
    text-align: center;
}

.combatlog li {
    padding: 0 10px 0 10px;
    text-align: center;
}

.single-item {
    width: 100%;
}

#create-character {
    padding-bottom: 10px;
}

.character-equipment .box-title {
    margin-bottom: 0;
}

.character-equipment .row {
    margin-top: 5px;
}

.character-equipment .item-box {
    border-top: 1px solid var(--black);;
    min-height: 25px;
    line-height: 25px;
}

.character-equipment .item-box.no-border {
    border: none;
}

.character-equipment .item-box.side-borders {
    border-top: none;
}

.question-row, .attribute-row {
    margin: 10px 0;
}

#world-properties li {
    display: none;
}

.portraitFrame {
    float: right;
}

#attributes-panel {
    float: left;
}

button.restart {
    margin-top: 25px;
}

.combine-active-hide {
    display: none;
}

.combine-selectable:hover {
    cursor: pointer;
    background-color: var(--light-gray);;
    border-radius: 5px;
}

.combine-active-selected {
    color: var(--red);;
}

.combination-text, .combination-result-text {
    display: inline-block;
    margin-left: 20px;
}

#highscores {
    margin-top: 20px;
}

table td {
    padding: 10px;
}

#visual-features {
    overflow: hidden;
    position: relative;
}

.feature-picture {
    position: absolute;
    cursor: pointer;
}

feature {
    cursor: pointer;
}

#level-up #create-character {
    padding-left: 0;
}

.dialog {
    z-index: 10;
    width: 50%;
    top: 100px;
}

.custom-select {
    position: relative;
    flex: 1 1 0;
    min-width: 0;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#location-selector {
    float: right;
    max-width: 40%;
}

#location-selector-locations {
    position: absolute;
    inset: 0 auto auto 0;
    margin: 0;
    transform: translate(1661px, 50px);
    cursor: pointer;
}

.refine-search {
    font-style: italic;
    opacity: .5;
    margin-bottom: -20px;
}

.is-active {
    border: solid 5px;
}

.not-applicable {
    line-height: normal;
    visibility: hidden;
}

.enemy-list li {
    display: inline-block;
    margin-right: 25px;
}

.enemy-row, .enemy-row > div, .character-row, .fight-row {
    margin-top: 15px;
    justify-content: center;
    text-align: center;
}

.combat-header, .fight-row {
    display: flex;
    justify-content: center;
}

.unavailable {
    opacity: .5;
}

.unselectable {
    color: rgba(0, 0, 0, 0.25);
}

.hitpoint-editor {
    display: inline;
}

.combat-actions > li {
    display: grid;
    justify-content: center;
}

.map-dialog {
    padding: 0;
    max-height: 95%;
    overflow: hidden;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding: 0;
}

.map-name {
    position: absolute;
    top: 0;
    left: 0;
    font-size: x-large;
    font-weight: bold;
    background-color: white;
    padding: 0 10px;
}

.map-image {
    transition: all 1s ease 0s;
}

.avatar-image, .map-location-label, .map-location-image {
    transition: all 1s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.map-location-label, .map-location-image, .map-name {
    z-index: 1;
    cursor: default;
}

.map-location-label {
    background-color: white;
    border: solid 1px black;
    padding: 2px 5px;
    white-space: nowrap;
}

.map-location-label.reachable, .map-location-image.reachable  {
    cursor: pointer;
}

.map-location-label span, .map-location-image img {
    opacity: 0.5;
}

.map-location-label.reachable span, .map-location-image.reachable img {
    opacity: 1;
}

.map-full-screen-toggle {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.participant {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Common component styles */
.collapsible {
    overflow: hidden;
    transition: max-height .2s ease-out;
}

.dropdown-menu-active {
    position: absolute;
    inset: 0 auto auto 5px;
    margin: 0;
    transform: translate(0px, 40px);
}

dialog {
    border: none;
    outline: none;
}