body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #483D8B;
}

h2 {
    font-family: 'Trebuchet MS';
    color: #483D8B;
}

button {
    margin-right: 10px;
}

.menu-bar {
    padding: 10px 15px 5px 30px;
}

#mainmenu .btn {
    display: block;
    margin-bottom: 10px;
}

.box-container {
    border: solid 1px rgb(72, 61, 139);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0;
}

.box-title {
    font-size: 1.3rem;
    font-family: Andalus;
    color: white;
    background-color: rgb(72, 61, 139);
    padding: 0px 10px;
    margin: -10px -10px 10px -10px;
}

.box-container li .btn {
    margin-right: 5px;
}

.list-unstyled {
    margin-bottom: 0;
}

.modal-body .list-unstyled {
    margin-bottom: 10px;
}

.inline {
    display: inline-block;
}

#conversation-history {
    max-height: 400px;
    overflow-y: scroll;
}

#create-character .input-group-prepend {
    max-width: 70%;
}

#create-character .input-group-text {
    white-space: normal;
}

#exploration-destinations .btn, #combinations .btn, #trade .btn {
    margin-right: 5px;
}

#exploration-destinations button span {
    margin-right: 0;
}

#backpack-panel li {
    margin-bottom: 5px;
}

.box-container li span {
    margin-right: 10px;
}

#conversation-options span {
    margin-left: 10px;
}

.conversation-lines p {
    margin: 5px 0 0 0;
}

.conversation-option {
    font-style: italic;
    margin: 5px 0 10px 10px;
}

#combat .btn {
    margin: 5px 0;
}

.combat-win {
    font-weight: bold;
}

#trade ul {
    margin-top: 10px;
}

.trade-empty {
    font-style: italic;
    margin: 10px 0;
    padding-left: 10px;
}

#save-game {
    margin-bottom: 15px;
}

#save-game p {
    font-weight: bold;
}

#save-game li {
    margin-bottom: 5px;
    cursor: pointer;
}

#start-adventure {
    margin: -10px 0 0 15px;
}

#start-combat {
    margin-top: 10px;
}

.save-button {
    margin-bottom: 15px;
}

.action-log {
    max-height: 300px;
    overflow-y: scroll;
}

.barrier {
    margin-bottom: 5px;
}

.action-select {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.combatlog {
    margin-top: 25px;
}

#create-character {
    padding-bottom: 10px;
}

#character-equipment .box-title {
    margin-bottom: 0;
}

#character-equipment .row {
    margin-top: 5px;
}

#character-equipment .item-box {
    border-top: 1px solid black;
    min-height: 25px;
    line-height: 25px;
}

#character-equipment .item-box.no-border {
    border: none;
}

#character-equipment .item-box.side-borders {
    border-top: none;
}

.question-row, .attribute-row {
    margin: 10px 0;
}

#world-properties li {
    display: none;
}

#portraitFrame {
    float: right;
}

button.restart {
    margin-top: 25px;
}

.combine-active-hide {
    display: none;
}

.combine-selectable:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5px;
}

.combine-active-selected {
    color: red;
}

.combination-text, .combination-result-text {
    display: inline-block;
    margin-left: 20px;
}

#highscores {
    margin-top: 20px;
}

table td {
    padding: 10px;
}

#visual-features {
    overflow: hidden;
}

.feature-picture {
    position: absolute;
    cursor: pointer;
}

feature {
    cursor: pointer;
}

#level-up #create-character {
    padding-left: 0px;
}

.modal-dialog {
    max-width: 50%;
}

.auto-back-button > .back-label {
    display: none;
}