/*#region BasicGame*/
/* Remove this styling when you want to upgrade to a standard game */

#action-log, #exploration-onground, #exploration-destinations > .box-title {
    display: none;
}

#location {
    margin-bottom: 0px;
}

#exploration-destinations {
    border-top: none;
    border-radius: 0;
}

/*#endregion */

.back-label {
    display: none;
}