<div class="box-container" id="character-attributes">
    <div class="box-title" data-toggle="collapse" data-target="#character-info">{{ $ctrl.game.character.name || $ctrl.texts.characterSheet }}</div>
    <div id="character-info" class="collapse show">
        <div id="portraitFrame">
            <img class="portrait" ng-src="{{$ctrl.game.character.portraitFileName}}" />
        </div>
        <ul id="attributes-panel" class="list-unstyled">
            <li ng-repeat="attribute in $ctrl.displayCharacterAttributes">
                {{ $ctrl.texts.titleCase($ctrl.texts.format(attribute)) }} {{ $ctrl.game.character[attribute] }}
            </li>
            <li>{{ $ctrl.texts.hitpoints }} {{ $ctrl.game.character.currentHitpoints }} / {{ $ctrl.game.character.hitpoints }}</li>
            <li>{{ $ctrl.texts.currency }} {{ $ctrl.game.character.currency }}</li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>