@let result = game.combinations.combinationResult;
@if (combineActions.length > 0)
{
    <div class="box-container" id="combinations">
        <div class="box-title">{{ texts.combinations }}</div>
        <div class="row">
            <ul class="list-unstyled col-3">
                @for (c of combineActions; track c.text)
                {
                    <button type="button" class="btn" [ngClass]="getCombineClass(c)" (click)="selectCombinationAction(c)">{{c.text}}</button>
                }
            </ul>
            <div class="col-9">
                @if (result.text)
                {
                    <p class="combination-result-text">{{result.text}}</p>
                }
            </div>
        </div>
    </div>
}