<div id="exploration">
    <div class="box-container" id="exploration-actions" *ngIf="actionsPresent()">
        <div class="box-title">{{ texts.actions }}</div>
        <ul class="list-unstyled" *ngIf="!confirmAction">
            <li class="inline" *ngFor="let action of game.currentLocation.activeActions">
                <button type="button" class="btn" [ngClass]="getButtonClass(action)" (click)="executeAction(action)" [disabled]="disableActionButton(action)" *ngIf="!hideActionButton(action)">{{ action[1].text }}</button>
            </li>
        </ul>
        <div *ngIf="confirmAction">
            <p [innerHTML]="confirmAction[1].confirmationText | safe: 'html'"></p>
            <ul class="list-unstyled">
                <li class="inline">
                    <button type="button" class="btn btn-primary" (click)="cancelAction(confirmAction)">{{ texts.cancelAction }}</button>
                    <button type="button" class="btn btn-warning" (click)="executeAction(confirmAction)">{{ texts.confirmAction }}</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-container" id="exploration-destinations" *ngIf="!enemiesPresent()">
        <div class="box-title">{{ texts.destinations }}</div>
        <ul class="list-unstyled">
            <li class="inline" *ngFor="let destination of game.currentLocation.activeDestinations">
                <div class="barrier" *ngFor="let barrier of destination.barriers">
                    @let barrierEntry = barrier[1];
                    <button *ngIf="!barrierEntry.actions?.length" class="btn btn-outline-primary">{{ barrierEntry.name }}</button>
                    <div *ngIf="barrierEntry.actions?.length" ngbDropdown class="d-inline-block" class="action-select">
                        <button class="btn btn-outline-primary" id="barrierdropdown" ngbDropdownToggle>{{ barrierEntry.name }}</button>
                        <div ngbDropdownMenu aria-labelledby="barrierdropdown">
                            <button ngbDropdownItem *ngFor="let action of barrier[1].actions" (click)="executeBarrierAction(barrier, action, destination)">{{ action[1].text }}</button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-info" [ngClass]="destination.style" (click)="changeLocation(destination.target)" [disabled]="!destination.target || destination.barriers?.length > 0 || game.currentLocation.navigationDisabled"><span class="back-label" *ngIf="isPreviousLocation(destination)">{{ texts.back }}</span> {{ destination.name }}</button>
            </li>
        </ul>
    </div>
</div>