<div id="exploration">
    <div class="box-container" id="exploration-actions" *ngIf="actionsPresent()">
        <div class="box-title">{{ texts.actions }}</div>
        <ul class="list-unstyled">
            <li class="inline" *ngFor="let action of game.currentLocation.activeActions">
                <button type="button" class="btn" [ngClass]="getButtonClass(action)" (click)="executeAction(action)" [disabled]="disableActionButton(action)" *ngIf="!hideActionButton(action)">{{ action[1].text }}</button>
            </li>
        </ul>
    </div>
    <div class="box-container" id="exploration-destinations" *ngIf="!enemiesPresent()">
        <div class="box-title">{{ texts.destinations }}</div>
        <ul class="list-unstyled">
            <li class="inline" *ngFor="let destination of game.currentLocation.activeDestinations">
                <div class="barrier" *ngFor="let barrier of destination.barriers">
                    <button *ngIf="!barrier[1].actions?.length" class="btn btn-outline-primary">{{ barrier[1].name }}</button>
                    <div *ngIf="barrier[1].actions?.length" ngbDropdown class="d-inline-block" class="action-select">
                        <button class="btn btn-outline-primary" id="barrierdropdown" ngbDropdownToggle>{{ barrier[1].name }}</button>
                        <div ngbDropdownMenu aria-labelledby="barrierdropdown">
                            <button ngbDropdownItem *ngFor="let action of barrier[1].actions" (click)="executeBarrierAction(barrier, action, destination)">{{ action[1].text }}</button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-info" [ngClass]="destination.style" (click)="changeLocation(destination.target)" [disabled]="!destination.target || destination.barrier || game.currentLocation.navigationDisabled"><span class="back-label" *ngIf="isPreviousLocation(destination)">{{ texts.back }}</span> {{ destination.name }}</button>
            </li>
        </ul>
    </div>
</div>