.back-label {
    display: none;
}

body {
    background-color: gold;
}

#visual-features img {
    transition:all 1s ease 0s;top:0;left:0;
}

.overlay-title .close {
    color: white;
    line-height: 1.2;
}

#player-icon {
    position: absolute;
    top: 260px;
    left: 615px;
    display: none;
}

.modal-content {
    border-image-source: url('resources/ui/frame.png');
    border-image-slice: 30;
    border-image-width: 30;
    padding: 28px 15px 23px 15px;
    background-color: transparent;
    background-clip: content-box;
}

.modal-backdrop.show {
    opacity: 0;
}

encounter-modal *:focus {
    outline: none;
}

encounter-modal .modal-header, encounter-modal .modal-footer {
    border: none;
}

.modal-content-wrapper .box-container {
    border: none;
}

#location .box-title {
    display: none;
}

.trade-modal {
    border-radius: 20px;
    background-color: white;
}

.description-modal {
    border-radius: 20px;
    background-color:rgba(0, 0, 0, 0.6);
    color: yellow;
}

.combat-modal {
    background-image: url(resources/maps/CaveBackground.png);
}