<div class="box-container" class="character-equipment" *ngIf="showEquipment()">
    <div class="box-title" (click)="isCollapsed = !isCollapsed">{{ texts.equipmentHeader }}</div>
    <div class="equipment-panel" [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
        <div class="row" *ngIf="isSlotUsed('amulet')">
            <div class="col-12">
                <div class="item-box" (click)="unequipItem(character.equipment.amulet)" [ngClass]="character.equipment.amulet ? '' : 'unavailable'">
                    {{ character.equipment.amulet?.name ?? texts.amulet }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="item-box" *ngIf="isSlotUsed('body')" (click)="unequipItem(character.equipment.body)" [ngClass]="character.equipment.body ? '' : 'unavailable'">
                    {{ character.equipment.body?.name ?? texts.body }}
                </div>
            </div>
            <div class="col-12">
                <div class="item-box" *ngIf="isSlotUsed('rightRing')" (click)="unequipItem(character.equipment.rightRing)" [ngClass]="character.equipment.rightRing ? '' : 'unavailable'">
                    {{ character.equipment.rightRing?.name ?? texts.rightRing }}
                </div>
            </div>
        </div>
        <div class="row" *ngFor="let slot of customSlots()">
            <div class="col-12">
                <div class="item-box" (click)="unequipItem(character.equipment[slot])" [ngClass]="character.equipment[slot] ? '' : 'unavailable'">
                    {{ character.equipment[slot]?.name ?? texts[slot] }}
                </div>
            </div>
        </div>
    </div>
</div>