<div ng-init="init()">
    <encounter-modal></encounter-modal>
    <menu-modal></menu-modal>
    <navigation></navigation>
    <div class="container-fluid body-content">
        <sound></sound>
        <div class="row">
            <div id="character-container" ng-if="game.state === 'Play'" id="character-container" ng-class="{ 'col-4': $ctrl.showCharacterPane() }">
                <character-sheet></character-sheet>
                <!-- <equipment></equipment>
                <backpack></backpack> -->
                <quests></quests>
            </div>
            <div id="location-container" ng-class="{ 'col-8': game.state === 'Play' && $ctrl.showCharacterPane(), 'col-12': game.state !== 'Play' || !$ctrl.showCharacterPane() }">
                <div ng-if="!game.state">
                    {{ $ctrl.texts.loading }}
                </div>
                <div ng-if="game.state == 'Play'">
                    <location></location>
                    <!-- <action-log></action-log>
                    <encounter></encounter> 
                    <enemy></enemy>
                    <ground></ground> -->
                    <exploration></exploration>
                </div>
                <intro></intro>
                <create-character></create-character>
                <level-up></level-up>
                <game-over></game-over>
                <victory></victory>
            </div>
        </div>
        <div class="row" ng-if="$ctrl.game.state === 'Play'">
            <div class="col-12">
                <combination></combination>
            </div>
        </div>
    </div>
</div>