@let trade = game.trade;
@if (game.playState == 'Trade' && trade)
{
    <div id="trade">
        <p class="trade-description">{{ trade.text }}</p>
        @if (trade.buy)
        {
            <div>{{ trade.buy.text }}</div>
        }
        @if (trade.buy.items?.length === 0)
        {
            <p class="trade-empty">{{ trade.buy.emptyText }}</p>
        }
        @if (trade.buy.items?.length > 0 && !confirmBuyItem)
        {
            <ul class="list-unstyled">
                @for (item of trade.buy.items; track item.id)
                {
                    <li class="inline">
                        <button type="button" class="btn btn-success" (click)="buy(item, game.activeCharacter, trade)" [disabled]="!canPay(item, game.activeCharacter, trade)">{{ displayPrice(item, actualPrice(item, game.activeCharacter, trade)) }}</button>
                    </li>
                }
            </ul>
        }
        @if (confirmBuyItem)
        {
            <div>
                <p [innerHTML]="texts.format(trade.buy.confirmationText, [confirmBuyItem.name, actualPrice(confirmBuyItem, game.activeCharacter, trade), texts.currency]) | safe: 'html'"></p>
                <ul class="list-unstyled">
                    <li class="inline">
                        <button type="button" class="btn btn-primary" (click)="cancelBuy()">{{ texts.cancelBuy }}</button>
                        <button type="button" class="btn btn-warning" (click)="buy(confirmBuyItem, game.activeCharacter, trade)">{{ texts.confirmBuy }}</button>
                    </li>
                </ul>
            </div>
        }
        @if (trade.sell)
        {
            <div>{{ trade.sell.text }}</div>
        }
        @if (trade.sell.items?.length === 0)
        {
            <p class="trade-empty">{{ trade.sell.emptyText }}</p>
        }
        @if (trade.sell.items?.length > 0 && !confirmSellItem)
        {
            <ul class="list-unstyled">
                @for (item of trade.sell.items; track item.id)
                {
                    <li class="inline">
                        <button type="button" class="btn btn-warning" (click)="sell(item, trade, game.activeCharacter)" [disabled]="!canPay(item, trade, game.activeCharacter)">{{ displayPrice(item, actualPrice(item, trade, game.activeCharacter)) }}</button>
                    </li>
                }
            </ul>
        }
        @if (confirmSellItem)
        {
            <div>
                <p [innerHTML]="texts.format(trade.sell.confirmationText, [confirmSellItem.name, actualPrice(confirmSellItem, trade, game.activeCharacter), texts.currency]) | safe: 'html'"></p>
                <ul class="list-unstyled">
                    <li class="inline">
                        <button type="button" class="btn btn-primary" (click)="cancelSell()">{{ texts.cancelSell }}</button>
                        <button type="button" class="btn btn-warning" (click)="sell(confirmSellItem, trade, game.activeCharacter)">{{ texts.confirmSell }}</button>
                    </li>
                </ul>
            </div>
        }
        @if (trade.currency != undefined)
        {
            <p>{{ texts.format(texts.traderCurrency, [trade.currency, texts.currency]) }}</p>
        }
    </div>
}