<div ng-if="$ctrl.game.stateString == 'Trade'" class="trade">
    <div ng-if="$ctrl.trade">
        <p class="trade-description">{{ $ctrl.trade.description }}</p>
        <div ng-if="$ctrl.trade.buy">{{ $ctrl.trade.buy.description }}</div>
        <div ng-hide="$ctrl.trade.buy.items && $ctrl.trade.buy.items.length > 0">{{ $ctrl.trade.buy.emptyText }}</div>
        <ul class="button-row" ng-show="$ctrl.trade.buy.items && $ctrl.trade.buy.items.length > 0">
            <li ng-repeat="item in $ctrl.trade.buy.items">
                <button type="button" class="btn btn-success" ng-click="$ctrl.buy(item, $ctrl.trade)" ng-disabled="!$ctrl.canPay($ctrl.game.character.currency, $ctrl.actualPrice(item, $ctrl.trade.buy.priceModifier))">{{ $ctrl.displayPrice(item, $ctrl.trade.buy.priceModifier) }}</button>
            </li>
        </ul>
        <div ng-if="$ctrl.trade.sell">{{ $ctrl.trade.sell.description }}</div>
        <div ng-hide="$ctrl.trade.sell.items && $ctrl.trade.sell.items.length > 0">{{ $ctrl.trade.sell.emptyText }}</div>
        <ul class="button-row" ng-show="$ctrl.trade.sell.items && $ctrl.trade.sell.items.length > 0">
            <li ng-repeat="item in $ctrl.trade.sell.items">
                <button type="button" class="btn btn-warning" ng-click="$ctrl.sell(item, $ctrl.trade)" ng-disabled="!$ctrl.canPay($ctrl.trade.currency, $ctrl.actualPrice(item, $ctrl.trade.sell.priceModifier))">{{ $ctrl.displayPrice(item, $ctrl.trade.sell.priceModifier) }}</button>
            </li>
        </ul>
        <p ng-if="$ctrl.trade.currency != undefined">{{ $ctrl.texts.format($ctrl.texts.traderCurrency, [$ctrl.trade.currency, $ctrl.texts.currency]) }}</p>
        <action-log></action-log>
    </div>
    </div>
</div>