<div class="box-container" id="location">
    <div class="box-title" ng-bind-html="$ctrl.texts.format($ctrl.texts.youAreHere, [$ctrl.game.currentLocation.name])"></div>
    <ul id="world-properties">
        <li ng-repeat="property in $ctrl.getWorldProperties() track by $index" class="{{property.name}}">{{ property.value }}</li>
    </ul>
    <div ng-if="!$ctrl.game.currentLocation.features.collectionPicture">
        <p ng-bind-html="$ctrl.getDescription($ctrl.game.currentLocation, 'text')"></p>
        <ul id="location-features">
            <li ng-repeat="feature in $ctrl.game.currentLocation.features" ng-class="$ctrl.getCombineClass(feature)" ng-if="feature.description">
                <div ng-click="$ctrl.tryCombine(feature)">
                    <!-- <p>
                        {{feature.name}}
                    </p> -->
                    <p>{{feature.description}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="visual-features" ng-if="$ctrl.game.currentLocation.features.collectionPicture">
        <img ng-src="{{ 'resources/' + $ctrl.game.currentLocation.features.collectionPicture }}" usemap="{{ '#' + $ctrl.game.currentLocation.id }}">
        <map name="{{ $ctrl.game.currentLocation.id }}">
            <div ng-repeat="feature in $ctrl.game.currentLocation.features">
                <area shape="{{feature.shape}}" coords="{{feature.coords}}" ng-click="$ctrl.game.combinations.tryCombine(feature)" feature-picture />
            </div>
        </map>
    </div>
    <ul id="location-log" class="list-unstyled">
        <li ng-repeat="message in $ctrl.game.currentLocation.log track by $index" ng-bind-html="$ctrl.getDescription($ctrl.game.currentLocation.log, $index)"></li>
    </ul>
</div>