<div>
    <navigation></navigation>
    <div class="container-fluid body-content">
        <sound></sound>
        <div class="row">
            @if (game.state === 'Play')
            {
                <div id="party-container" [ngClass]="{ 'col-4': showCharacterPane() }">
                    @for (character of game.party.characters; track character)
                    {
                        <div>
                            <backpack [character]="character"></backpack>
                        </div>
                    }
                </div>
            }
            <div id="location-container" [ngClass]="{ 'col-8': game.state === 'Play' && showCharacterPane(), 'col-12': game.state !== 'Play' || !showCharacterPane() }">
                @if (!game.state)
                {
                    <div>
                        {{ texts.loading }}
                    </div>
                }
                @if (game.state === 'Play')
                {
                    @if (game.worldProperties.type === 'Visual')
                    {
                        <location-visual></location-visual>
                    } @else {
                        <location-text></location-text>   
                    }
                }
            </div>
        </div>
        @if (game.state === 'Play')
        {
            <div class="row">
                <div class="col-12">
                    <combination></combination>
                </div>
            </div>
        }
    </div>
</div>