<div class="modal-header">
    <h4 class="modal-title">{{ settings.title }}</h4>
    @if (canClose())
    {
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    }
</div>
<div class="modal-body">
    <combat></combat>
    <trade></trade>
    <conversation></conversation>
    @if (game.playState === 'Description')
    {
        <div class="description" [innerHTML]="settings.description | safe: 'html'"></div>
    }
</div>
<div class="modal-footer">
    @if (settings.canClose) 
    {
        <button type="button" class="btn btn-primary" (click)="closeModal()">{{ settings.closeText }}</button>
    }
</div>