<div class="box-container" id="create-character" ng-if="$ctrl.game.state == 'CreateCharacter'">
    <div class="box-title">{{ $ctrl.texts.newGame }}</div>
    <build-character sheet="$ctrl.sheet"></build-character>
    <button type="button" id="start-adventure" class="btn btn-primary" ng-disabled="!$ctrl.distributionDone()" ng-click="$ctrl.startNewGame()" ng-show="$ctrl.sheet.currentStep >= $ctrl.sheet.steps.length - 1 || $ctrl.sheet.steps[$ctrl.sheet.currentStep].finish">{{ $ctrl.texts.startAdventure }}</button>
</div>