@let location = game.currentLocation;
@let features = location.features;
@if (features?.collectionPicture) 
{
    <div class="box-container" id="location-visual">
        <div class="box-title" [innerHTML]="texts.format(texts.youAreHere, [location.name]) | safe: 'html'"></div>
        <div id="visual-features">
            <img src="{{ 'resources/' + features.collectionPicture }}" [attr.usemap]="'#' + location.id" alt="{{ location.name }}">
            <map name="{{ location.id }}">
                @for (feature of features; track feature.id)
                {
                    <area href="#0" shape="{{feature.shape}}" coords="{{feature.coords}}" (click)="tryCombine(feature)" alt="{{ feature.name }}" />
                }
            </map>
            @for (feature of features; track feature.id)
            {
                @if (feature.picture)
                {
                    <img class="feature-picture" name="{{ 'feature-' + feature.id }}" src="{{ 'resources/' + feature.picture }}" [ngStyle]="getFeatureCoordinates(feature)" (click)="tryCombine(feature)" alt="{{ feature.name }}" />
                }
            }
        </div>
    </div>
}