<div id="level-up" *ngIf="game.state === 'LevelUp'" class="container-fluid">
    <div class="col-12">
        <h2>{{ texts.levelUp }}</h2>
        <p>{{ texts.format(texts.levelUpDescription, [game.character.level]) }}</p>
        <build-character [sheet]="game.createCharacterSheet"></build-character>
        <button type="button" class="btn btn-primary" [disabled]="!distributionDone()" (click)="levelUp()" *ngIf="game.createCharacterSheet.currentStep >= game.createCharacterSheet.steps.length - 1">{{ texts.completeLevelUp }}</button>
    </div>
</div>