<fieldset ng-if="controller.actionsPresent()">
    <legend>Acties</legend>
    <ul class="button-row">
        <li ng-repeat="action in controller.game.currentLocation.actions">
            <button type="button" class="btn" ng-class="controller.getButtonClass(action)" ng-click="controller.executeAction(action.execute)" ng-disabled="controller.disableActionButton(action)">{{ action.text }}</button>
        </li>
    </ul>
</fieldset>
<fieldset ng-if="!controller.enemiesPresent()">
    <legend>Uitgangen</legend>
    <table>
        <tbody>
            <tr ng-if="controller.barriersPresent()">
                <td ng-repeat="destination in controller.game.currentLocation.destinations">
                    <div ng-if="destination.barrier">
                        <button type="button" class="btn btn-info" ng-click="controller.executeBarrierAction(destination, destination.barrier)">{{ destination.barrier.text }}</button>
                        <select class="action-select" ng-model="destination.barrier.selectedAction">
                            <option ng-repeat="action in destination.barrier.actions" value="{{ destination.barrier.actions.indexOf(action) }}">{{ action.text }}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td ng-repeat="destination in controller.game.currentLocation.destinations">
                    <button type="button" class="btn btn-info" ng-click="controller.changeLocation(destination.target)" ng-disabled="destination.barrier || controller.game.currentLocation.navigationDisabled"><span ng-if="destination.isPreviousLocation">Terug: </span> {{ destination.text }}</button>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>
<fieldset ng-if="!controller.enemiesPresent()">
    <legend>Dit ligt hier</legend>
    <ul>
        <li ng-repeat="item in controller.game.currentLocation.items track by $index" ng-click="controller.pickupItem(item)">{{ item.name }}</li>
    </ul>
</fieldset>