<div class="box-container" id="character-attributes">
    <div class="box-title" (click)="isCollapsed = !isCollapsed">{{ character.name || texts.characterSheet }}</div>
    <div id="character-info" [ngbCollapse]="isCollapsed" class="collapse navbar-collapse list-unstyled">
        <div id="portraitFrame">
            <img class="portrait" src="{{character.portraitFileName}}" />
        </div>
        <ul id="attributes-panel" class="list-unstyled">
            <li *ngFor="let attribute of displayCharacterAttributes">
                {{ texts.titleCase(texts.format(attribute)) }} {{ character[attribute] }}
            </li>
            <li>{{ texts.hitpoints }} {{ character.currentHitpoints }} / {{ character.hitpoints }}</li>
            <li *ngIf="character.currency !== undefined">{{ texts.currency }} {{ character.currency }}</li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>