<div class="container-fluid menu-bar">
    <div class="row">
        <div class="col-8">
            <h1>{{ $ctrl.texts.gameName }}</h1>
        </div>
        <div class="col-4">
            <div class="float-right">
                <button type="button" class="btn btn-dark btn-sm" ng-click="$ctrl.menu()">{{ $ctrl.texts.mainMenuShort }}</button>
                <button id="resetbutton" type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.reset()">{{ $ctrl.texts.resetWorld }}</button>
            </div>
            <div class="float-none"></div>
        </div>
    </div>
</div>