<div class="box-container" id="character-backpack">
    <div class="box-title" (click)="isCollapsed = !isCollapsed">{{ texts.backpack }}</div>
    <ul id="backpack-panel" [ngbCollapse]="isCollapsed" class="collapse navbar-collapse list-unstyled">
        @for (item of character.items; track item.id) {
            <li>
                <div (click)="tryCombine(item)" [ngClass]="getCombineClass(item)">
                    <span>{{ getItemName(item) }}</span>
                    <div id="backpack-button-row" class="inline">
                        @if (canEquip(item) && showEquipment()) {
                            <button type="button" class="btn btn-info btn-sm" (click)="equipItem(item)">{{ texts.equip }}</button>
                        }
                        @if (hasDescription(item)) {
                            <button type="button" class="btn btn-info btn-sm" (click)="showDescription(item, getItemName(item))">{{ texts.view }}</button>
                        }
                        @if (canUseItem(item)) {
                            <button type="button" class="btn btn-info btn-sm" (click)="useItem(item)">{{ texts.use }}</button>
                        }
                        @if (canGroupItem(item)) {
                            <button type="button" class="btn btn-sm"
                                    [ngClass]="{ 'btn-primary': item === joinItem, 'btn-outline-secondary': joinItem && item !== joinItem, 'btn-info': !joinItem  }"
                                    (click)="groupItem(item)">{{ texts.groupItem }}
                            </button>
                        }
                        @if (item.members?.length > 0)
                        {
                            <button type="button" class="btn btn-info btn-sm" (click)="splitItemGroup(item)">{{ texts.splitItemGroup }}</button>
                        }
                        @if (canDropItems() && canDrop(item)) {
                            <button type="button" class="btn btn-info btn-sm" (click)="dropItem(item)">{{ texts.drop }}</button>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
</div>