<div>
    @if (party.characters.length > 1)
    {
        <div class="box-container">
            <div class="box-title">{{party.name}}</div>
            <ul class="list-unstyled">
                <li>{{ texts.currency }} {{ party.currency }}</li>
            </ul>
        </div>
    }
    @for (character of party.characters; track character.name)
    {
        <div class="character-container" (click)="setActive(character)" [ngClass]="{ 'is-active': character.isActive, 'unavailable': character.currentHitpoints <= 0 }">
            <character-sheet [character]="character"></character-sheet>
            <equipment [character]="character"></equipment>
            <backpack [character]="character"></backpack>
        </div>
    }
    <quests></quests>
</div>