<div>
    <div class="box-container">
        <div class="box-title">{{party.name}}</div>
        <ul class="list-unstyled">
            <li>{{ texts.currency }} {{ party.currency }}</li>
        </ul>
    </div>
    <div *ngFor="let character of game.party.characters" (click)="setActive(character)" [ngClass]="{ 'is-active': character.isActive }">
        <character-sheet [character]="character"></character-sheet>
        <equipment [character]="character"></equipment>
        <backpack [character]="character"></backpack>
    </div>
    <quests></quests>
</div>