<div class="modal" id="encounters" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.closeModal()" ng-show="$ctrl.modalSettings.canClose">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ $ctrl.modalSettings.title }}</h4>
            </div>
            <div class="modal-body">
                <combat></combat>
                <trade></trade>
                <div ng-if="$ctrl.game.stateString == 'Conversation'" class="conversation" ng-include="'ui/conversation.html'"></div>
                <div ng-if="$ctrl.game.stateString == 'Description'" class="description" ng-bind-html="$ctrl.getDescription($ctrl.modalSettings.descriptionEntity, 'description')"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.closeModal()" ng-show="$ctrl.modalSettings.canClose">{{ $ctrl.modalSettings.closeText }}</button>
            </div>
        </div>
    </div>
</div>