<div class="box-container" id="encounters" ng-if="$ctrl.personsPresent() && !$ctrl.enemiesPresent()">
    <div class="box-title">{{ $ctrl.texts.encounters }}</div>
    <ul class="list-unstyled">
        <li ng-repeat="person in $ctrl.game.currentLocation.activePersons" ng-click="$ctrl.tryCombine(person)" ng-class="$ctrl.getCombineClass(person)">
            <span>{{ person.name }}</span>
            <div class="inline" ng-class="$ctrl.getCombineClass()">
                <button type="button" class="btn btn-info talk" ng-if="person.conversation" ng-click="$ctrl.talk(person)">{{ $ctrl.texts.format($ctrl.texts.talk, [person.name]) }}</button>
                <button type="button" class="btn btn-info trade" ng-if="person.trade" ng-click="$ctrl.trade(game, 1, person)">{{ $ctrl.texts.format($ctrl.texts.trade, [person.name]) }}</button>
                <button type="button" class="btn btn-danger" ng-if="person.canAttack === undefined || person.canAttack === true" ng-click="$ctrl.startCombat(person)">{{ $ctrl.texts.format($ctrl.texts.attack, [person.name]) }}</button>
            </div>
            <img ng-src="{{ person.picture }}" ng-if="person.picture" />
        </li>
    </ul>
</div>