<div ng-if="$ctrl.game.stateString == 'LevelUp'">
    <h1>Je wordt hier beter in!</h1>
    <div><span>Je hebt niveau {{ $ctrl.game.character.level }} bereikt!</span></div>
    <div>
        <span>Wat wil je verbeteren?</span>
        <select class="reward-select" ng-options="reward.value for reward in $ctrl.rewards" ng-model="$ctrl.selectedReward">
            <option value="">-- Kies een beloning --</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.claimReward()">Ok</button>
</div>