<div class="box-container" id="character-equipment" ng-if="$ctrl.showEquipment()">
    <div class="box-title" data-toggle="collapse" data-target="#equipment-panel">{{ $ctrl.texts.equipmentHeader }}</div>
    <div id="equipment-panel" class="collapse show">
        <div class="row" ng-show="$ctrl.isSlotUsed('head')">
            <div class="col-12">
                <div>
                    {{ $ctrl.texts.head }}
                </div>
                <div class="item-box" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.head)">
                    {{ $ctrl.game.character.equipment.head.name }}
                </div>
            </div>
        </div>
        <div class="row" ng-show="$ctrl.isSlotUsed('amulet')">
            <div class="col-12">
                <div>
                    {{ $ctrl.texts.amulet }}
                </div>
                <div class="item-box" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.amulet)">
                    {{ $ctrl.game.character.equipment.amulet.name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <span ng-show="$ctrl.isSlotUsed('hands') || $ctrl.isSlotUsed('rightHand') || $ctrl.isSlotUsed('rightRing')">{{ $ctrl.texts.rightHand }}</span>
            </div>
            <div class="col-6">
                <span ng-show="$ctrl.isSlotUsed('body')">{{ $ctrl.texts.body }}</span>
            </div>
            <div class="col-3">
                <span ng-show="$ctrl.isSlotUsed('hands') || $ctrl.isSlotUsed('leftHand') || $ctrl.isSlotUsed('leftRing')">{{ $ctrl.texts.leftHand }}</span>
            </div>
            <div class="col-3">
                <div class="item-box" ng-show="$ctrl.isSlotUsed('hands')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.hands)">{{ $ctrl.game.character.equipment.hands.name }}</div>
                <div class="item-box" ng-class="{ 'side-borders' : $ctrl.isSlotUsed('hands') || $ctrl.isSlotUsed('rightRing') }" ng-show="$ctrl.isSlotUsed('rightHand')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.rightHand)">{{ $ctrl.game.character.equipment.rightHand.name }}</div>
                <div class="item-box" ng-show="$ctrl.isSlotUsed('rightRing')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.rightRing)">{{ $ctrl.game.character.equipment.rightRing.name }}</div>
            </div>
            <div class="col-6">
                <div class="item-box no-border" ng-show="($ctrl.isSlotUsed('rightHand') || $ctrl.isSlotUsed('leftHand')) && $ctrl.isSlotUsed('hands')"></div>
                <div class="item-box" ng-show="$ctrl.isSlotUsed('body')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.body)">{{ $ctrl.game.character.equipment.body.name }}</div>
            </div>
            <div class="col-3">
                <div class="item-box" ng-show="$ctrl.isSlotUsed('hands')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.hands)">{{ $ctrl.game.character.equipment.hands.name }}</div>
                <div class="item-box" ng-class="{ 'side-borders' : $ctrl.isSlotUsed('hands') || $ctrl.isSlotUsed('leftRing') }" ng-show="$ctrl.isSlotUsed('leftHand')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.leftHand)">{{ $ctrl.game.character.equipment.leftHand.name }}</div>
                <div class="item-box" ng-show="$ctrl.isSlotUsed('leftRing')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.leftRing)">{{ $ctrl.game.character.equipment.leftRing.name }}</div>
            </div>
        </div>
        <div class="row" ng-show="$ctrl.isSlotUsed('legs')">
            <div class="col-12">
                <div>
                    {{ $ctrl.texts.legs }}
                </div>
                <div class="item-box" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.legs)">
                    {{ $ctrl.game.character.equipment.legs.name }}
                </div>
            </div>
        </div>
        <div class="row" ng-show="$ctrl.isSlotUsed('feet')">
            <div class="col-12">
                <div>
                    {{ $ctrl.texts.feet }}
                </div>
                <div class="item-box" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.feet)">
                    {{ $ctrl.game.character.equipment.feet.name }}
                </div>
            </div>
        </div>
    </div>
</div>