<div class="box-container" id="enemies" ng-if="$ctrl.game.currentLocation.activeEnemies && $ctrl.game.currentLocation.activeEnemies.length">
    <div class="box-title">{{ $ctrl.texts.encounters }}</div>
    <p>{{ $ctrl.texts.enemiesToFight }}</p>
    <ul class="list-unstyled">
        <li ng-repeat="enemy in $ctrl.game.currentLocation.activeEnemies" ng-click="$ctrl.tryCombine(enemy)" ng-class="$ctrl.getCombineClass(enemy)">
            {{ enemy.name }}
            <div class="inline" ng-class="$ctrl.getCombineClass()">
                <button type="button" class="btn btn-info btn-sm" ng-if="$ctrl.hasDescription('enemies', enemy)" ng-click="$ctrl.showDescription(enemy, enemy.name)">{{ $ctrl.texts.view }}</button>
            </div>
        </li>
    </ul>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.startCombat()">{{ $ctrl.texts.startCombat }}</button>
</div>