body{ 
    background: rgb(245,255,0);
background: linear-gradient(180deg, rgba(245,255,0,1) 0%, rgba(16,215,235,1) 50%, rgba(0,14,255,1) 100%);
background-size: 100vw 100vh;

}
h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.box-container {
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.back-label {
    display: none;
}
#exploration-destinations > .box-title {
    display: none;
}
#location {
    margin-bottom: 0px;
}
#exploration-destinations {
    border-top: none;
    border-radius: 0;
}
