<div class="box-container" id="location">
    <div class="box-title" [innerHTML]="texts.format(texts.youAreHere, [game.currentLocation.name]) | safe: 'html'"></div>
    <div id="visual-features" *ngIf="game.currentLocation.features.collectionPicture">
        <img src="{{ 'resources/' + game.currentLocation.features.collectionPicture }}" [attr.usemap]="'#' + game.currentLocation.id">
        <map name="{{ game.currentLocation.id }}">
            <area *ngFor="let feature of game.currentLocation.features" href="#0" shape="{{feature.shape}}" coords="{{feature.coords}}" (click)="tryCombine(feature)" />
        </map>
        <div *ngFor="let feature of game.currentLocation.features">
            <img *ngIf="feature.picture" class="feature-picture" name="feature.id" src="{{ 'resources/' + feature.picture }}" [ngStyle]="getFeatureCoordinates(feature)" (click)="tryCombine(feature)" />
        </div>
    </div>
    <div *ngIf="!game.currentLocation.features.collectionPicture" textFeatures>
        <div [innerHTML]="game.currentLocation.text | safe: 'html'"></div>
    </div>
    <ul id="location-log" class="list-unstyled">
        <li *ngFor="let message of game.currentLocation.log" [innerHTML]="message | safe: 'html'"></li>
    </ul>
</div>