<div id="combat" ng-if="$ctrl.game.playState == 'Combat'">
    <div ng-if="$ctrl.enemiesPresent()">
        <div>
            <ul class="list-unstyled" ng-show="$ctrl.game.currentLocation.activeEnemies.length > 0">
                <li ng-repeat="enemy in $ctrl.game.currentLocation.activeEnemies">
                    <button type="button" class="btn btn-danger" ng-click="$ctrl.fight(enemy)">{{ $ctrl.texts.format($ctrl.texts.attack, [enemy.name]) }}</button>
                    <img ng-src="{{ enemy.picture }}" ng-if="enemy.picture" />
                </li>
            </ul>
            <ul class="list-unstyled">
                <li ng-repeat="action in $ctrl.game.currentLocation.combatActions">
                    <button type="button" class="btn" ng-class="$ctrl.getButtonClass(action)" ng-click="$ctrl.executeAction(action)">{{ action.text }}</button>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <ul class="list-unstyled">
            <li ng-repeat="item in $ctrl.game.character.combatItems">
                <button type="button" class="btn btn-info" ng-click="$ctrl.useItem(item)">{{ $ctrl.texts.format($ctrl.texts.useInCombat, [item.name]) }}</button>
            </li>
        </ul>
    </div>
    <div ng-if="!$ctrl.enemiesPresent()" class="combat-win">
        {{ $ctrl.texts.combatWin }}
    </div>
    <fieldset class="combatlog">
        <legend>{{ texts.messages }}</legend>
        <ul class="list-unstyled action-log">
            <li ng-repeat="message in $ctrl.game.combatLog track by $index">{{ message }}</li>
        </ul>
    </fieldset>
</div>