<div class="modal" id="loadgame" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span ng-if="$ctrl.mode === 'save'">{{ $ctrl.texts.saveGame }}</span>
                    <span ng-if="$ctrl.mode === 'load'">{{ $ctrl.texts.loadGame }}</span>
                </h4>
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="save-game" class="col-12">
                        <p>{{ $ctrl.texts.existingSaveGames }}</p>
                        <ul class="list-unstyled">
                            <li ng-repeat="key in $ctrl.saveKeys">
                                <span ng-click="$ctrl.setSelected(key)">{{ key }}</span>
                            </li>
                        </ul>
                        <div ng-if="$ctrl.mode === 'save'">
                            <p>{{ $ctrl.texts.newSaveGame }}</p>
                            <input class="col-md-8 question-input" type="text" ng-model="$ctrl.selectedGame" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="alert alert-danger" ng-if="$ctrl.mode === 'save' && $ctrl.overwriteSelected()">{{ $ctrl.texts.format($ctrl.texts.overwriteSaveGame, [$ctrl.selectedGame]) }}</p>
                <p class="alert alert-success" ng-if="$ctrl.mode === 'load' && $ctrl.selectedGame">{{ $ctrl.texts.format($ctrl.texts.loadSaveGame, [$ctrl.selectedGame]) }}</p>
                <button ng-if="$ctrl.mode === 'save'" type="button" class="btn btn-primary save-button" ng-click="$ctrl.saveGame()" ng-disabled="!$ctrl.selectedGame">{{ $ctrl.texts.save }}</button>
                <button ng-if="$ctrl.mode === 'load'" type="button" class="btn btn-primary save-button" ng-click="$ctrl.loadGame()" ng-disabled="!$ctrl.selectedGame">{{ $ctrl.texts.load }}</button>
            </div>
        </div>
    </div>
</div>