<div ng-init="init()">
    <navigation></navigation>
    <div class="container body-content">
        <h2>{{ texts.gameName }}</h2>
        <div class="row">
            <div id="character-container" class="col-md-4">
                <div class="charactersheet" ng-include="'ui/character-sheet.html'"></div>
            </div>
            <div id="location-container" class="col-md-8">
                <div ng-if="!game.stateString">
                    {{ texts.loading }}
                </div>
                <div ng-if="game.stateString == 'Play'">
                    <encounter></encounter>
                    <location></location>
                    <combination></combination>
                    <exploration></exploration>
                    <enemy></enemy>
                    <action-log></action-log>
                </div>
                <create-character></create-character>
                <level-up></level-up>
                <game-over></game-over>
                <victory></victory>
            </div>
        </div>
        <hr />
        <footer></footer>
    </div>
    <encounter-modal></encounter-modal>
</div>