<div id="create-character" class="container-fluid">
    @for (step of sheet.steps; track $index)
    {
        <div [hidden]="sheet.currentStep !== $index">
            @if (step.description) {
                <div class="step-description" [innerHTML]="step.description | safe: 'html'"></div>
            }
            @for (question of step.questions; track question.question)
            {
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">{{ question.question }}</label>
                    </div>
                    <select class="custom-select" [(ngModel)]="question.selectedEntry" (ngModelChange)="sheet.nextStep(sheet, false)">
                        @for (entry of question.entries; track entry.text)
                        {
                            <option [ngValue]="entry" >{{ entry.text }}</option>
                        }
                    </select>
                </div>
            }
            @for (attribute of step.attributes; track attribute.question)
            {
                <div>
                    @if (attribute.entries.length > 1)
                    {
                        <div>
                            <span class="attribute-header">{{ attribute.question }}</span>
                        </div>
                    }
                    @for (entry of attribute.entries; track entry.attribute)
                    {
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                @if (attribute.entries.length !== 1) 
                                {
                                    <label class="input-group-text">{{ texts.titleCase(entry.attribute) }}</label>
                                }
                                @if (attribute.entries.length === 1) {
                                    <label class="input-group-text">{{ attribute.question }}</label>
                                }
                            </div>
                            @if (!entry.min && !entry.max) 
                            {
                                <input class="form-control" type="text" [(ngModel)]="entry.value" />
                            }
                            @if (entry.min || entry.max)
                            {
                                <input class="form-control" type="number" min="{{ entry.min }}" max="{{ entry.max }}" [(ngModel)]="entry.value" (blur)="limitInput($event, attribute, entry)" />
                            }
                        </div>
                    }
                </div>
            }
            @if (sheet.currentStep < sheet.steps.length - 1 && !sheet.steps[sheet.currentStep].finish)
            {
                <button type="button" class="btn btn-primary" [disabled]="!distributionDone(step)" (click)="sheet.nextStep(sheet)">{{ texts.nextQuestion }}</button>
            }
        </div>
    }
</div>