<div id="create-character" class="container-fluid" ng-repeat="step in $ctrl.sheet.steps" ng-show="$ctrl.sheet.currentStep == $index">
    <div class="input-group mb-3" ng-repeat="question in step.questions">
        <div class="input-group-prepend">
            <label class="input-group-text">{{ question.question }}</label>
        </div>
        <select class="custom-select" ng-model="question.selectedEntry" ng-options="q.text for q in question.entries" ng-change="$ctrl.sheet.nextStep($ctrl.sheet, false)"></select>
    </div>
    <div ng-repeat="attribute in step.attributes">
        <div>
            <span class="attribute-header" ng-show="attribute.entries.length > 1">{{ attribute.question }}</span>
        </div>
        <div class="input-group mb-3" ng-repeat="entry in attribute.entries" ng-init="parentAttribute = attribute">
            <div class="input-group-prepend">
                <label class="input-group-text" ng-hide="parentAttribute.entries.length == 1">{{ $ctrl.texts.titleCase(entry.attribute) }}</label>
                <label class="input-group-text" ng-show="parentAttribute.entries.length == 1">{{ parentAttribute.question }}</label>
            </div>
            <input class="form-control" type="text" ng-if="!entry.min && !entry.max" ng-model="entry.value" />
            <input class="form-control" type="number" ng-if="entry.min || entry.max" min="{{ entry.min }}" max="{{ entry.max }}" ng-model="entry.value" ng-blur="$ctrl.limitInput($event, attribute, entry)" />
        </div>
    </div>
    <button type="button" class="btn btn-primary" ng-disabled="!$ctrl.distributionDone(step)" ng-click="$ctrl.sheet.nextStep($ctrl.sheet)" ng-show="$ctrl.sheet.currentStep < $ctrl.sheet.steps.length - 1 && !$ctrl.sheet.steps[$ctrl.sheet.currentStep].finish">{{ $ctrl.texts.nextQuestion }}</button>
</div>