<div class="charactersheet">
    <fieldset>
        <legend data-toggle="collapse" data-target="#attributes-panel">{{ $ctrl.game.character.name }}</legend>
        <ul id="attributes-panel" class="collapse in">
            <li ng-repeat="attribute in $ctrl.displayCharacterAttributes">
                {{ $ctrl.texts.titleCase($ctrl.texts.format(attribute)) }} {{ $ctrl.game.character[attribute] }}
            </li>
            <li>{{ $ctrl.texts.hitpoints }} {{ $ctrl.game.character.currentHitpoints }} / {{ $ctrl.game.character.hitpoints }}</li>
            <li>{{ $ctrl.texts.currency }} {{ $ctrl.game.character.currency }}</li>
        </ul>
    </fieldset>
    <fieldset id="equipment">
        <legend data-toggle="collapse" data-target="#equipment-panel">{{ $ctrl.texts.equipmentHeader }}</legend>
        <div id="equipment-panel" class="collapse in">
            <div class="row" ng-show="$ctrl.isSlotUsed('head')">
                <div class="col-md-12">
                    <div>
                        {{ $ctrl.texts.head }}
                    </div>
                    <div class="item-box" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.head)">
                        {{ $ctrl.game.character.equipment.head.name }}
                    </div>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.isSlotUsed('amulet')">
                <div class="col-md-12">
                    <div>
                        {{ $ctrl.texts.amulet }}
                    </div>
                    <div class="item-box" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.amulet)">
                        {{ $ctrl.game.character.equipment.amulet.name }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span ng-show="$ctrl.isSlotUsed('hands') || $ctrl.isSlotUsed('rightHand') || $ctrl.isSlotUsed('rightRing')">{{ $ctrl.texts.rightHand }}</span>
                </div>
                <div class="col-md-6">
                    <span ng-show="$ctrl.isSlotUsed('body')">{{ $ctrl.texts.body }}</span>
                </div>
                <div class="col-md-3">
                    <span ng-show="$ctrl.isSlotUsed('hands') || $ctrl.isSlotUsed('leftHand') || $ctrl.isSlotUsed('leftRing')">{{ $ctrl.texts.leftHand }}</span>
                </div>
                <div class="col-md-3">
                    <div class="item-box" ng-show="$ctrl.isSlotUsed('hands')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.hands)">{{ $ctrl.game.character.equipment.hands.name }}</div>
                    <div class="item-box" ng-class="{ 'side-borders' : $ctrl.isSlotUsed('hands') || $ctrl.isSlotUsed('rightRing') }" ng-show="$ctrl.isSlotUsed('rightHand')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.rightHand)">{{ $ctrl.game.character.equipment.rightHand.name }}</div>
                    <div class="item-box" ng-show="$ctrl.isSlotUsed('rightRing')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.rightRing)">{{ $ctrl.game.character.equipment.rightRing.name }}</div>
                </div>
                <div class="col-md-6">
                    <div class="item-box no-border" ng-show="($ctrl.isSlotUsed('rightHand') || $ctrl.isSlotUsed('leftHand')) && $ctrl.isSlotUsed('hands')"></div>
                    <div class="item-box" ng-show="$ctrl.isSlotUsed('body')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.body)">{{ $ctrl.game.character.equipment.body.name }}</div>
                </div>
                <div class="col-md-3">
                    <div class="item-box" ng-show="$ctrl.isSlotUsed('hands')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.hands)">{{ $ctrl.game.character.equipment.hands.name }}</div>
                    <div class="item-box" ng-class="{ 'side-borders' : $ctrl.isSlotUsed('hands') || $ctrl.isSlotUsed('leftRing') }" ng-show="$ctrl.isSlotUsed('leftHand')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.leftHand)">{{ $ctrl.game.character.equipment.leftHand.name }}</div>
                    <div class="item-box" ng-show="$ctrl.isSlotUsed('leftRing')" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.leftRing)">{{ $ctrl.game.character.equipment.leftRing.name }}</div>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.isSlotUsed('legs')">
                <div class="col-md-12">
                    <div>
                        {{ $ctrl.texts.legs }}
                    </div>
                    <div class="item-box" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.legs)">
                        {{ $ctrl.game.character.equipment.legs.name }}
                    </div>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.isSlotUsed('feet')">
                <div class="col-md-12">
                    <div>
                        {{ $ctrl.texts.feet }}
                    </div>
                    <div class="item-box" ng-click="$ctrl.unequipItem($ctrl.game.character.equipment.feet)">
                        {{ $ctrl.game.character.equipment.feet.name }}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend data-toggle="collapse" data-target="#backpack-panel">{{ $ctrl.texts.backpack }}</legend>
        <ul id="backpack-panel" class="collapse in">
            <li ng-repeat="item in $ctrl.game.character.items">
                <div>
                    <span>{{ item.name }}</span>
                    <button type="button" ng-if="$ctrl.canEquip(item)" class="btn btn-info" ng-click="$ctrl.equipItem(item)">{{ $ctrl.texts.equip }}</button>
                    <button type="button" class="btn btn-info" ng-if="$ctrl.hasDescription('items', item)" ng-click="$ctrl.showDescription(item, item.name)">{{ $ctrl.texts.view }}</button>
                    <button type="button" ng-if="item.use" class="btn btn-info" ng-click="$ctrl.useItem(item)">{{ $ctrl.texts.use }}</button>
                    <button type="button" class="btn btn-info" ng-click="$ctrl.dropItem(item)">{{ $ctrl.texts.drop }}</button>
                </div>
            </li>
        </ul>
    </fieldset>
    <fieldset ng-if="$ctrl.showQuests()">
        <legend data-toggle="collapse" data-target="#quest-panel">{{ $ctrl.texts.quests }}</legend>
        <div id="quest-panel" class="collapse in">
            <div ng-if="$ctrl.showActiveQuests()">
                <h4>Current</h4>
                <ul>
                    <li ng-repeat="quest in $ctrl.game.character.quests | filter:{ completed: false }">
                        <div>
                            <span>{{ quest.name }}</span>
                            <div ng-bind-html="$ctrl.questStatus(quest)"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-if="$ctrl.showCompletedQuests()">
                <h4>Completed</h4>
                <ul>
                    <li ng-repeat="quest in $ctrl.game.character.quests | filter:{ completed: true }">
                        <div>
                            <div ng-bind-html="$ctrl.questStatus(quest)"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
</div>