<div class="box-container" id="character-attributes">
    <div class="box-title" (click)="isCollapsed = (character.currentHitpoints > 0 && !character.isActiveCharacter) && !isCollapsed ? isCollapsed : !isCollapsed" [ngClass]="character.isActiveCharacter ? '' : 'unavailable'">{{ character.name || texts.characterSheet }}</div>
    <div class="character-info" [ngbCollapse]="isCollapsed" class="collapse navbar-collapse list-unstyled">
        <div class="row">
            <div class="col-6">
                <div class="portraitFrame">
                    <img class="portrait" src="{{character.portraitFileName}}" />
                </div>
                <ul id="attributes-panel" class="list-unstyled">
                    <li *ngFor="let attribute of displayCharacterAttributes">
                        {{ texts.titleCase(texts.format(attribute)) }} {{ character[attribute] }}
                    </li>
                    <li>{{ texts.hitpoints }}
                        <div class="hitpoint-editor">
                            <span *ngIf="!isDevelopment">{{ character.currentHitpoints }}</span>
                            <input *ngIf="isDevelopment" type="number" min="{{ 1 }}" max="{{ character.hitpoints }}" [(ngModel)]="character.currentHitpoints" (blur)="limitInput($event, character)">
                        </div>
                        &nbsp;/ {{ character.hitpoints }}
                    </li>
                    <li *ngIf="party.characters.length === 1 && party.currency !== undefined">{{ texts.currency }} {{ party.currency }}</li>
                </ul>
            </div>
            <equipment [character]="character" class="col-6"></equipment>
        </div>
        <backpack [character]="character"></backpack>
    </div>
</div>