@let participantType = participant.type ?? 'character';
@let hitpointText = participant.type ? texts.enemyHitpoints : texts.characterHitpoints;
<h4>{{ participant.name }}</h4>
<p [ngClass]="{ 'enemy-health': participantType === 'enemy', 'character-health': participantType === 'character' }" class="">
    {{ texts.format(hitpointText, [participant.currentHitpoints, participant.hitpoints]) }}
</p>
<ul *ngIf="participant.effects.length > 0" class="effects">
    <li *ngFor="let effect of participant.effects" class="{{ effect }}">{{ effect }}</li>
</ul>
<img src="{{ participant.picture }}" *ngIf="participant.picture" alt="participant.name" />