@let participantType = participant.type ?? 'character';
@let hitpointText = participant.type ? texts.enemyHitpoints : texts.characterHitpoints;
<div [ngClass]="{ 'targeted': rules.combat.isTargeted(game, participant) !== '' }" [title]="rules.combat.isTargeted(game, participant)">
    <h4>{{ participant.name }}</h4>
    <p [ngClass]="{ 'enemy-health': participantType === 'enemy', 'character-health': participantType === 'character' }">
        {{ texts.format(hitpointText, [participant.currentHitpoints, participant.hitpoints]) }}
    </p>
    <ul *ngIf="participant.effects.length > 0" class="effects">
        <li *ngFor="let effect of participant.effects" class="{{ effect }}">{{ effect }}</li>
    </ul>
    <img src="{{ participant.picture }}" *ngIf="participant.picture" alt="participant.name" />
</div>