@if (game.state === 'Intro')
{
    <div class="box-container" id="intro">
        <h2>Introduction</h2>
        <p>
            You have been summoned by king Valdemar for your first adventure. Now, you stand before him in the throneroom.
            King Valdemar rises from
            his throne and greets you warmly. ‘Welcome, adventurer,’ the king speaks, in a pleasant low voice. The king is
            clad in a simple red
            tunic and leather trousers, the only mark of his kingship a plain golden crown.
    
        </p>
        <p>
            ‘Today, your first quest begins. You know of the the forest of Myrr to the east. A glade of shadow and mystery,
            a dangerous place. My
            own nephew, prince Ture has disappeared into the forest, vowing to uncover its secrets. It has been many days
            since his departure and I
            fear for his life.’
    
        </p>
        <p>
            King Valdemar falls silent for a moment, lost in thought.
            ‘Adventurer, I ask you to go to the forest of Myrr. To enter it, and rescue my young nephew. Do this and I shall
            reward you well.’
    
        </p>
        <p>
            You bow in acceptance. Vowing to take up this quest and save the young prince. The king raises his hand in
            salute.
            ‘Go with the blessings of the ancients, my friend. I look forward to your return, and that of my nephew.’
            With that, the king sits down again on his throne. His royal guards escort you outside, where your horse awaits,
            packed and ready.
        </p>
        <audio controls="controls" autoplay="autoplay">
            <source src="resources/Intro.mp3" type="audio/mp3"/>
            Your browser does not support the audio element.
        </audio>
        <p>
            <br>
            <button type="button" class="btn btn-primary" (click)="endIntro()">{{ texts.skipIntro }}</button>
        </p>
    </div>
}