<div class="modal-content-wrapper">
    <div class="modal-header">
        <h4 class="modal-title">{{ settings.title }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()" *ngIf="canClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <combat></combat>
        <trade></trade>
        <conversation></conversation>
        <div *ngIf="game.playState === 'Description'">
            <div *ngIf="settings.descriptionType === 'location'">
                <encounter></encounter>
                <location-text></location-text>
                <!-- <action-log></action-log> 
                <ground></ground>-->
                <exploration></exploration>
                <enemy></enemy>
            </div>
            <div *ngIf="settings.descriptionType !== 'location'">
                <div class="description" [innerHTML]="settings.description | safe: 'html'"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()" *ngIf="settings.canClose">{{ settings.closeText }}</button>
    </div>
</div>