<div ng-init="init()">
    <navigation></navigation>
    <div class="container-fluid body-content">
        <div class="row">
            <div id="character-container" ng-if="$ctrl.game.stateString !== 'CreateCharacter'" id="character-container" ng-class="{ 'col-4': game.stateString !== 'CreateCharacter' && $ctrl.showCharacterPane() }">
                <character-sheet></character-sheet>
                <equipment></equipment>
                <backpack></backpack>
                <quests></quests>
            </div>
            <div id="location-container" ng-class="{ 'col-8': game.stateString !== 'CreateCharacter' && $ctrl.showCharacterPane(), 'col-12': game.stateString === 'CreateCharacter' || !$ctrl.showCharacterPane() }">
                <div ng-if="!$ctrl.game.stateString">
                    {{ $ctrl.texts.loading }}
                </div>
                <div ng-if="$ctrl.game.stateString == 'Play'">
                    <encounter></encounter>
                    <location></location>
                    <enemy></enemy>
                </div>
                <create-character></create-character>
                <level-up></level-up>
                <game-over></game-over>
                <victory></victory>
            </div>
        </div>
        <div class="row" ng-if="$ctrl.game.stateString !== 'CreateCharacter'">
            <div class="col-12">
                <combination></combination>
            </div>
        </div>
    </div>
    <encounter-modal></encounter-modal>
    <load-game-modal></load-game-modal>
</div>