#action-log, #exploration-onground, #exploration-destinations > .box-title {
    display: none;
}

#location {
    margin-bottom: 0px;
    background-color: green;
    color: rgb(211, 243, 199);
}

#exploration-destinations {
    border-top: none;
    border-radius: 0;
}

.back-label {
    display: none;
}

h1 {
    color: green;
}

.box-title {
    background-color: brown;
    color: wheat;
}

navigation .btn {
    color: black;
}