<div ng-controller="CharacterController as characterController">
    <fieldset>
        <legend>{{ game.character.name }}</legend>
        <ul>
            <li ng-repeat="attribute in displayCharacterAttributes">
                {{ texts.titleCase(texts.format(attribute)) }} {{ game.character[attribute] }}
            </li>
            <li>{{ texts.hitpoints }} {{ game.character.currentHitpoints }} / {{ game.character.hitpoints }}</li>
            <li>{{ texts.currency }} {{ game.character.currency }}</li>
        </ul>
    </fieldset>
    <fieldset id="equipment">
        <legend>{{ texts.equipmentHeader }}</legend>
        <div>
            <div class="row" ng-show="characterController.isSlotUsed('head')">
                <div class="col-md-12">
                    <div>
                        {{ texts.head }}
                    </div>
                    <div class="item-box" ng-click="characterController.unequipItem(game.character.equipment.head)">
                        {{ game.character.equipment.head.name }}
                    </div>
                </div>
            </div>
            <div class="row" ng-show="characterController.isSlotUsed('amulet')">
                <div class="col-md-12">
                    <div>
                        {{ texts.amulet }}
                    </div>
                    <div class="item-box" ng-click="characterController.unequipItem(game.character.equipment.amulet)">
                        {{ game.character.equipment.amulet.name }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span ng-show="characterController.isSlotUsed('hands') || characterController.isSlotUsed('rightHand') || characterController.isSlotUsed('rightRing')">{{ texts.rightHand }}</span>
                </div>
                <div class="col-md-6">
                    <span ng-show="characterController.isSlotUsed('body')">{{ texts.body }}</span>
                </div>
                <div class="col-md-3">
                    <span ng-show="characterController.isSlotUsed('hands') || characterController.isSlotUsed('leftHand') || characterController.isSlotUsed('leftRing')">{{ texts.leftHand }}</span>
                </div>
                <div class="col-md-3">
                    <div class="item-box" ng-show="characterController.isSlotUsed('hands')" ng-click="characterController.unequipItem(game.character.equipment.hands)">{{ game.character.equipment.hands.name }}</div>
                    <div class="item-box" ng-class="{ 'side-borders' : characterController.isSlotUsed('hands') || characterController.isSlotUsed('rightRing') }" ng-show="characterController.isSlotUsed('rightHand')" ng-click="characterController.unequipItem(game.character.equipment.rightHand)">{{ game.character.equipment.rightHand.name }}</div>
                    <div class="item-box" ng-show="characterController.isSlotUsed('rightRing')" ng-click="characterController.unequipItem(game.character.equipment.rightRing)">{{ game.character.equipment.rightRing.name }}</div>
                </div>
                <div class="col-md-6">
                    <div class="item-box no-border" ng-show="(characterController.isSlotUsed('rightHand') || characterController.isSlotUsed('leftHand')) && characterController.isSlotUsed('hands')"></div>
                    <div class="item-box" ng-show="characterController.isSlotUsed('body')" ng-click="characterController.unequipItem(game.character.equipment.body)">{{ game.character.equipment.body.name }}</div>
                </div>
                <div class="col-md-3">
                    <div class="item-box" ng-show="characterController.isSlotUsed('hands')" ng-click="characterController.unequipItem(game.character.equipment.hands)">{{ game.character.equipment.hands.name }}</div>
                    <div class="item-box" ng-class="{ 'side-borders' : characterController.isSlotUsed('hands') || characterController.isSlotUsed('leftRing') }" ng-show="characterController.isSlotUsed('leftHand')" ng-click="characterController.unequipItem(game.character.equipment.leftHand)">{{ game.character.equipment.leftHand.name }}</div>
                    <div class="item-box" ng-show="characterController.isSlotUsed('leftRing')" ng-click="characterController.unequipItem(game.character.equipment.leftRing)">{{ game.character.equipment.leftRing.name }}</div>
                </div>
            </div>
            <div class="row" ng-show="characterController.isSlotUsed('legs')">
                <div class="col-md-12">
                    <div>
                        {{ texts.legs }}
                    </div>
                    <div class="item-box" ng-click="characterController.unequipItem(game.character.equipment.legs)">
                        {{ game.character.equipment.legs.name }}
                    </div>
                </div>
            </div>
            <div class="row" ng-show="characterController.isSlotUsed('feet')">
                <div class="col-md-12">
                    <div>
                        {{ texts.feet }}
                    </div>
                    <div class="item-box" ng-click="characterController.unequipItem(game.character.equipment.feet)">
                        {{ game.character.equipment.feet.name }}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{ texts.backpack }}</legend>
        <ul>
            <li ng-repeat="item in game.character.items">
                <div>
                    <span>{{ item.name }}</span>
                    <button type="button" ng-if="characterController.canEquip(item)" class="btn btn-info" ng-click="characterController.equipItem(item)">{{ texts.equip }}</button>
                    <button type="button" class="btn btn-info" ng-click="controller.showDescription('items', item, item.name)">{{ texts.view }}</button>
                    <button type="button" ng-if="item.use" class="btn btn-info" ng-click="controller.useItem(item)">{{ texts.use }}</button>
                    <button type="button" class="btn btn-info" ng-click="characterController.dropItem(item)">{{ texts.drop }}</button>
                </div>
            </li>
        </ul>
    </fieldset>
</div>