<div ng-if="controller.enemiesPresent()">
    <div>
        <ul ng-show="controller.game.currentLocation.activeEnemies.length > 0" class="inline button-row">
            <li ng-repeat="enemy in controller.game.currentLocation.activeEnemies">
                <button type="button" class="btn btn-danger" ng-click="controller.fight(enemy)">{{ texts.format(texts.attack, [enemy.name]) }}</button>
                <img ng-src="{{ 'resources/' + enemy.pictureFileName }}" ng-if="enemy.pictureFileName" />
            </li>
        </ul>
        <ul class="inline button-row">
            <li ng-repeat="action in controller.game.currentLocation.combatActions">
                <button type="button" class="btn" ng-class="controller.getButtonClass(action)" ng-click="controller.executeAction(action)">{{ action.text }}</button>
            </li>
        </ul>
    </div>
    <div>
        <ul class="inline button-row">
            <li ng-repeat="item in game.character.combatItems">
                <button type="button" class="btn btn-info" ng-click="controller.useItem(item)">{{ texts.format(texts.useInCombat, [item.name]) }}</button>
            </li>
        </ul>
    </div>
</div>
<div ng-if="!controller.enemiesPresent()">
    {{ texts.combatWin }}
</div>
<fieldset>
    <legend>{{ texts.messages }}</legend>
    <ul class="action-log">
        <li ng-repeat="message in game.combatLog track by $index">{{ message }}</li>
    </ul>
</fieldset>