<div class="character-equipment box-container" *ngIf="showEquipment()">
    <div class="box-title" (click)="isCollapsed = !isCollapsed">{{ texts.equipmentHeader }}</div>
    <div class="equipment-panel" [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
        <div class="row" *ngIf="isSlotUsed('head')">
            <div class="col-12">
                <div>
                    {{ texts.head }}
                </div>
                <div class="item-box" (click)="unequipItem(character.equipment.head)">
                    {{ character.equipment.head?.name }}
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isSlotUsed('amulet')">
            <div class="col-12">
                <div>
                    {{ texts.amulet }}
                </div>
                <div class="item-box" (click)="unequipItem(character.equipment.amulet)">
                    {{ character.equipment.amulet?.name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <span *ngIf="isSlotUsed('hands') || isSlotUsed('rightHand') || isSlotUsed('rightRing')">{{ texts.rightHand }}</span>
            </div>
            <div class="col-6">
                <span *ngIf="isSlotUsed('body')">{{ texts.body }}</span>
            </div>
            <div class="col-3">
                <span *ngIf="isSlotUsed('hands') || isSlotUsed('leftHand') || isSlotUsed('leftRing')">{{ texts.leftHand }}</span>
            </div>
            <div class="col-3">
                <div class="item-box" *ngIf="isSlotUsed('hands')" (click)="unequipItem(character.equipment.hands)">{{ character.equipment.hands?.name }}</div>
                <div class="item-box" [ngClass]="{ 'side-borders' : isSlotUsed('hands') || isSlotUsed('rightRing') }" *ngIf="isSlotUsed('rightHand')" (click)="unequipItem(character.equipment.rightHand)">{{ character.equipment.rightHand?.name }}</div>
                <div class="item-box" *ngIf="isSlotUsed('rightRing')" (click)="unequipItem(character.equipment.rightRing)">{{ character.equipment.rightRing?.name }}</div>
            </div>
            <div class="col-6">
                <div class="item-box no-border" *ngIf="(isSlotUsed('rightHand') || isSlotUsed('leftHand')) && isSlotUsed('hands')"></div>
                <div class="item-box" *ngIf="isSlotUsed('body')" (click)="unequipItem(character.equipment.body)">{{ character.equipment.body?.name }}</div>
            </div>
            <div class="col-3">
                <div class="item-box" *ngIf="isSlotUsed('hands')" (click)="unequipItem(character.equipment.hands)">{{ character.equipment.hands?.name }}</div>
                <div class="item-box" [ngClass]="{ 'side-borders' : isSlotUsed('hands') || isSlotUsed('leftRing') }" *ngIf="isSlotUsed('leftHand')" (click)="unequipItem(character.equipment.leftHand)">{{ character.equipment.leftHand?.name }}</div>
                <div class="item-box" *ngIf="isSlotUsed('leftRing')" (click)="unequipItem(character.equipment.leftRing)">{{ character.equipment.leftRing?.name }}</div>
            </div>
        </div>
        <div class="row" *ngIf="isSlotUsed('legs')">
            <div class="col-12">
                <div>
                    {{ texts.legs }}
                </div>
                <div class="item-box" (click)="unequipItem(character.equipment.legs)">
                    {{ character.equipment.legs?.name }}
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isSlotUsed('feet')">
            <div class="col-12">
                <div>
                    {{ texts.feet }}
                </div>
                <div class="item-box" (click)="unequipItem(character.equipment.feet)">
                    {{ character.equipment.feet?.name }}
                </div>
            </div>
        </div>
        <div class="row" *ngFor="let slot of customSlots()">
            <div class="col-12">
                <div>
                    {{ texts[slot] }}
                </div>
                <div class="item-box" (click)="unequipItem(character.equipment[slot])">
                    {{ character.equipment[slot]?.name }}
                </div>
            </div>
        </div>
    </div>
</div>