<div>
    <navigation></navigation>
    <div class="container-fluid body-content">
        <sound></sound>
        <div class="row">
            <div class="col-6">
                <location-map></location-map>
            </div>
            <div id="location-container" class="col-6">
                @if (!game.state)
                {
                    <div>
                        {{ texts.loading }}
                    </div>
                }
                @if (game.state == 'Play')
                {
                    <div>
                        <encounter></encounter>
                        <location-text></location-text>
                        <exploration></exploration>
                    </div>
                }
            </div>
        </div>
    </div>
</div>