<div>
    <navigation></navigation>
    <div class="container-fluid body-content">
        <sound></sound>
        <div class="row">
            <div id="map-container" class="col-6">
                <location-map></location-map>
            </div>
            <div id="location-container" class="col-6">
                @if (!game.state)
                {
                    <div>
                        {{ texts.loading }}
                    </div>
                }
                @if (game.state == 'Play')
                {
                    <div>
                        <encounter></encounter>
                        <location-text></location-text>
                        <action-log></action-log>
                        <ground></ground>
                        <exploration></exploration>
                        <enemy></enemy>
                    </div>
                }
                <intro></intro>
                <create-character></create-character>
                <game-over></game-over>
                <victory></victory>
            </div>
        </div>
    </div>
</div>