<div>
    <navigation></navigation>
    <div class="container-fluid body-content">
        <sound></sound>
        <div class="row">
            @if (game.state === 'Play')
            {
                <div id="party-container" [ngClass]="{ 'col-4': showCharacterPane() }"></div>
            }
            <div id="location-container" [ngClass]="{ 'col-8': game.state === 'Play' && showCharacterPane(), 'col-12': game.state !== 'Play' || !showCharacterPane() }">
                @if (!game.state)
                {
                <div>
                    {{ texts.loading }}
                </div>
                }
                @if (game.state === 'Play')
                {
                    <location-text></location-text>
                    <exploration></exploration>
                }
            </div>
        </div>
    </div>
</div>