<div ng-if="$ctrl.game.stateString == 'CreateCharacter'">
    <h1>{{ $ctrl.texts.newGame }}</h1>
    <div class="row" ng-repeat="step in $ctrl.sheet.steps" ng-show="$ctrl.sheet.currentStep == $index">
        <div class="row question-row" ng-repeat="question in step.questions">
            <span class="col-md-4 question-label">{{ question.question }}</span>
            <select class="col-md-8 question-select" ng-model="question.selectedEntry" ng-options="q.text for q in question.entries">
            </select>
        </div>
        <div class="row attribute-row" ng-repeat="attribute in step.attributes">
            <div class="attribute-label" ng-show="attribute.entries.length > 1">{{ attribute.question }}</div>
            <div class="row" ng-repeat="entry in attribute.entries" ng-init="parentAttribute = attribute">
                <span class="col-md-4 question-label" ng-hide="parentAttribute.entries.length == 1">{{ $ctrl.texts.titleCase(entry.attribute) }}</span>
                <span class="col-md-4 question-label" ng-show="parentAttribute.entries.length == 1">{{ parentAttribute.question }}</span>
                <input class="col-md-8 question-input" type="text" ng-if="!entry.min && !entry.max" ng-model="entry.value" />
                <input class="col-md-8 question-input" type="number" ng-if="entry.min || entry.max" min="{{ entry.min }}" max="{{ entry.max }}" ng-model="entry.value" ng-blur="$ctrl.limitInput($event, attribute, entry)" />
            </div>
        </div>
        <button type="button" class="btn btn-primary" ng-disabled="!$ctrl.distributionDone(step)" ng-click="$ctrl.sheet.nextStep($ctrl.sheet)" ng-show="$ctrl.sheet.currentStep < $ctrl.sheet.steps.length - 1">{{ $ctrl.texts.nextQuestion }}</button>
    </div>
    <button type="button" class="btn btn-primary" ng-disabled="!$ctrl.distributionDone()" ng-click="$ctrl.startNewGame()" ng-show="$ctrl.sheet.currentStep >= $ctrl.sheet.steps.length - 1">{{ $ctrl.texts.startAdventure }}</button>
</div>