body {
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Papyrus, sans-serif;
    color: #483D8B;
    background-image: url($resources/parchment.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Papyrus;
    font-size: medium;
    font-weight: bold;
}

h2 {
    font-family: Papyrus;
    color: #483D8B;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
button,
textarea {
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Papyrus;
}

.name-input {
    margin: 0 20px;
}

.btn.fight {
    display: block;
    margin-bottom: 10px;
}

blockquote {
    font-size: smaller;
}

.location-danger, .location-danger:hover {
    background-color: #d9534f;
    border-color: #d9534f;
    color: white;
}

.location-water, .location-water:hover {
    background-color: blue;
    border-color: blue;
    color: white;
}

.destination-button {
    float: left;
    margin: 0 15px 10px 0;
}

#farmboyframe {
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

    #farmboyframe:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,255, 0.25);
        transition: all .3s linear;
    }

    #farmboyframe:hover:before {
        background: none;
    }

#world-properties .timeOfDay {
    display: block;
}

.portraitFrame {
    color:#0000FF;
    float: none;
    margin-bottom: 10px;
}

.character-equipment .box-title, #character-backpack .box-title {
    display: none;
}

.character-equipment .item-box {
    margin-top: 10px;
}

#character-attributes {
    vertical-align: top;
}

#character-backpack {
    border: none;
    padding: 0;
    margin: 5px 0 0 0;
}

#enemies li {
    display: inline-block;
}

.time-editor {
    display: inline;
}

.time-editor select {
    max-width: 80px;
}

.enemy-health {
    margin-bottom: 0;
}

.effects {
    list-style: none;
    padding-left: 0;
}

.Frozen {
    color: #0b5ed7;
}