<div id="combat" *ngIf="game.playState == 'Combat'">
    <fieldset class="combatlog">
        <legend>{{ texts.messages }}</legend>
        <ul class="list-unstyled action-log">
            <li *ngFor="let message of game.combatLog">{{ message }}</li>
        </ul>
    </fieldset>
    <div class="combat-overview-enemies" *ngIf="enemiesPresent()">
        <div>
            <ul class="list-unstyled" *ngIf="game.currentLocation.activeEnemies.length > 0">
                <li *ngFor="let enemy of game.currentLocation.activeEnemies">
                    <div class="combat-actions">
                        <button type="button" class="btn btn-danger" (click)="fight(enemy)" [disabled]="!actionsEnabled">{{ texts.format(texts.attack, [enemy.name]) }}</button>
                        <ul class="list-unstyled">
                            <span>Spells</span>
                            <li *ngFor="let item of game.character.combatItems">
                                <button *ngIf="item.isSpell" type="button" class="btn btn-info" (click)="useItem(item, enemy)" [disabled]="!actionsEnabled">{{ texts.format(texts.useInCombat, [item.name]) }}</button>
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <span>Items</span>
                            <li *ngFor="let item of game.character.combatItems">
                                <button *ngIf="!item.isSpell"  type="button" class="btn btn-info" (click)="useItem(item, enemy)" [disabled]="!actionsEnabled">{{ texts.format(texts.useInCombat, [item.name]) }}</button>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <img class="enemy-portrait" src="{{ enemy.picture }}" *ngIf="enemy.picture" />
                    <div class="clearfix"></div>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li *ngFor="let action of game.currentLocation.combatActions">
                    <button type="button" class="btn" [ngClass]="getButtonClass(action)" (click)="executeAction(action)" [disabled]="!actionsEnabled">{{ action.text }}</button>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="!enemiesPresent()" class="combat-win">
        {{ texts.combatWin }}
    </div>
    <div class="clearfix"></div>
</div>